.container{
    margin:50px 0;
}
.card{
    margin:0 2% !important;
}

.infected{
        border-bottom: 10px solid rgba(230, 27, 9, 0.87) !important;
}
.recovered{
    border-bottom: 10px solid #24e912c7;
}
.deaths{
    border-bottom: 10px solid #000000dc;
}
@media(max-width:770px){
    .card{
        margin:2% 0 !important ;
    }
    
}